body {
  font-family: 'Nunito Sans', sans-serif;
/*  background-color: #191919;*/
}
h2.stitle {
  text-align: center;
  color: white;
  background-color: #050a3d;
  /*background-image: linear-gradient(to bottom, #050a3d, #fff);*/
  padding-top: .4em;
  padding-bottom: .4em;
/*  border-bottom: 1px solid #FF9C67;
  border-left: 1px solid #f47b1a;
  border-right: 1px solid #f47b1a;*/
  margin-top: 0;
}
h2.stitle2 {
  text-align: center;
  border-top: 3px solid #050a3d;
  border-bottom: 3px solid #050a3d;
  color:  #050a3d;
  /*background-image: linear-gradient(to bottom, #050a3d, #fff);*/
  padding-top: .4em;
  padding-bottom: .4em;
/*  border-bottom: 1px solid #FF9C67;
  border-left: 1px solid #f47b1a;
  border-right: 1px solid #f47b1a;*/
  margin-top: 0;
}

.boot {
  background-color: gray;
  margin-top: 75px;
  margin-bottom: 0;
  padding: 100px;
}
h1 span {
  font-size: .65em;
}
h3.stitle {
  text-align: center;

}
.page-header {
  border-bottom: 3px solid rgba(5,10,61,.75);
  background-color: #fff;
}



p {
  padding: 1em;
  text-align: justify;
  }
.ctitle {
  text-align: center;
}
#tline {
  color: #050a3d;
  font-size: 1.5em;
}
b {
  color:#f47b1a;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Cabin', sans-serif;
}
