body {
  font-family: 'Nunito Sans', sans-serif;
/*  background-color: #191919;*/
}
h2.stitle {
  text-align: center;
  color: white;
  background-color: #050a3d;
  /*background-image: linear-gradient(to bottom, #050a3d, #fff);*/
  padding-top: .4em;
  padding-bottom: .4em;
/*  border-bottom: 1px solid #FF9C67;
  border-left: 1px solid #f47b1a;
  border-right: 1px solid #f47b1a;*/
  margin-top: 0;
}
h2.stitle2 {
  text-align: center;
  border-top: 3px solid #050a3d;
  border-bottom: 3px solid #050a3d;
  color:  #050a3d;
  /*background-image: linear-gradient(to bottom, #050a3d, #fff);*/
  padding-top: .4em;
  padding-bottom: .4em;
/*  border-bottom: 1px solid #FF9C67;
  border-left: 1px solid #f47b1a;
  border-right: 1px solid #f47b1a;*/
  margin-top: 0;
}

.boot {
  background-color: #101010;
  padding-top: 1em;

}
h1 span {
  font-size: .65em;
}
h3.stitle {
  text-align: center;

}




p {
  padding: 1em;
  text-align: justify;
  }
.ctitle {
  text-align: center;
}
#tline {
  color: #050a3d;
  font-size: 1.5em;
}
b {
  color:#f47b1a;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Cabin', sans-serif;
}
div.boot p {
  text-align: center;
  padding: 0;
  color: #9d9d9d;
}
div.boot p a {
  color: #9d9d9d;
}
a.con {
  font-size: 1.5em;
  color: inherit;
}
